streamlit==1.28.0
pandas==2.1.2
matplotlib==3.8.0
ipython==8.15.0
numpy==1.26.1
seaborn==0.13.0
nltk==3.8.1
scikit-learn==1.1.3
gensim==4.3.2
sacrebleu==2.3.1
spacy==3.6.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz 
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.6.0/fr_core_news_sm-3.6.0.tar.gz 
pillow
wordcloud
networkx==2.7.0
transformers==4.34.1
keras-nlp==0.6.1
keras==2.10.0
tensorflow==2.10.0
sentencepiece==0.1.99
openai-whisper==20230918
torch==2.1.0
speechrecognition==3.10.0
audio_recorder_streamlit==0.0.8
whisper==1.1.10
wavio
filesplit==4.0.1
regex==2023.10.3
pydot
graphviz
gTTS==2.4.0
https://files.pythonhosted.org/packages/cc/58/96aff0e5cb8b59c06232ea7e249ed902d04ec89f52636f5be06ceb0855fe/extra_streamlit_components-0.1.60-py3-none-any.whl
streamlit-option-menu==0.3.6
deep-translator==1.11.4

